.article_container {
  .container_form_cont {
    width: 60%;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;

    h1 {
      text-align: center;
      color: #cc611e;
      font-weight: 400;
    }

    .article_name,
    .quantity,
    .note {
      margin: 20px 0;

      input {
        background-color: #faf9f9;

        height: 40px;
        border: none;
        border-bottom: #cc611e 3px solid;
        margin: 0 5px;
        padding: 10px;
        color: #cc611e;
        font-size: 1rem;
        outline: none;
        border-radius: 8px;

        &::placeholder {
          padding: 10px;
          color: #9c8f1b;
          font-size: 1rem;
        }
      }
    }

    .quantity {
      input {
        width: 100px;
      }
    }

    .description {
      margin: 20px 0;
      textarea {
        width: 50%;
        resize: none;
        border: #cc611e 3px solid;
        color: #cc611e;
        outline: none;
        padding: 10px;
        border-radius: 8px;

        &::placeholder {
          color: #9c8f1b;
          font-size: 1rem;
        }
      }
    }

    .article_options {
      .category {
        margin-bottom: 5px;
        select {
          background-color: #faf9f9;
          width: 200px;
          height: 40px;
          border: none;
          border-bottom: #cc611e 3px solid;
          margin: 0 5px;
          padding: 10px;
          color: #9c8f1b;
          font-size: 1rem;
          outline: none;
          border-radius: 8px;

          option {
            color: #9c8f1b;
            background-color: #fff;
          }
        }
      }

      .status {
        margin-bottom: 5px;
        select {
          background-color: #faf9f9;

          height: 40px;
          border: none;
          border-bottom: #cc611e 3px solid;
          margin: 0 5px;
          padding: 10px;
          color: #9c8f1b;
          font-size: 1rem;
          outline: none;
          border-radius: 8px;

          option {
            color: #9c8f1b;
            background-color: #fff;
          }
        }
      }
    }
  }

  .upload {
    margin: 20px 0;

    label {
      color: #9c8f1b;
      background-color: white;
      padding: 10px 20px;
      border: 1px solid #cc611e;
      border-radius: 8px;
    }
  }

  .submit {
    text-align: center;
    margin-top: 20px;

    button {
      font-size: 18px;
      padding: 15px 20px;
      background-color: #cc611e;
      color: white;
      border: 1px solid transparent;
      border-radius: 8px;
      transition: all 0.5s ease;
      margin: 0 10px;

      &:hover {
        outline: none;
        background-color: #fff;
        color: #cc611e;
        transition: all 0.5s ease;
        cursor: pointer;
        border: 1px solid #cc611e;
      }
    }

  }
}
