

.offer_container{

    .SmoothieOne{

        width: 200px;
         height: 200px;
          
    }


    .Droppable{
        .SmoothieTwo{

            width: 200px;
             height: 200px;
              
        }
    }
  
}