
.container_article{

 

        a.no_article{
        width: 100%;
        height: 100px;
        overflow: hidden;

        img {
                width: 100%;
                height: 100%;
        }
              
        }

        .article_card{
           
          padding: 0 20px;
         display: grid;
         grid-template-columns: repeat( auto-fit, minmax(200px, min-content) );

         .article {
                height: 350px;
                border-radius: 8px;
                position: relative;
                border-top: 3px solid #CC611E;
                border-bottom: 3px solid #CC611E;
        
                img {
                  width: 100%;
                  height: 200px;
                  object-fit: cover;
                  border-radius: 8px 8px 0 0;
                  padding-top: 10px;
                }
        
                .thumbnail_text {

                  text-align: center;
        
                  p {
                    color: #333;
                    padding: 5px;
                    font-size: 1.2rem;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                  }
        
                  .location {
                       display: flex;
                       justify-content:center;
                       align-items: center;
                       span {
                           text-transform: uppercase;
                       }
                       span:nth-child(3) {
                           padding-left: 5px;
                       }
                  }
                }
        
                &:hover {
                  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                  transform: scale(1.1);
                }
              }
        }
}
